# EXPERIMENT
EXPERIMENT="example"

# DIRECTORIES
ROOT_DIR="~/Projects/TSX_OPM"
CONFIG_DIR="$ROOT_DIR/analysis/experiments/$EXPERIMENT/config"

RAW_DIR="$ROOT_DIR/data/$EXPERIMENT/raw"
BIDS_DIR="$ROOT_DIR/data/$EXPERIMENT/bids"
SUBJECTS_DIR="$ROOT_DIR/data/$EXPERIMENT/bids/derivatives/freesurfer/subjects"

# CONFIGUATION
MAX_WORKERS=4